/**** Importation des polices DM Sans et Alan Sans ****/

@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    font-family: "DM Sans", sans-serif;
}

a,
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    font-family: "Alan Sans", sans-serif;
}

p {
    line-height: 1.7;
}

section {
    padding: 40px;
    height: auto;
}

/**** html ****/

html {
    scroll-behavior: smooth;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
}

/**** header ****/

header {
    width: 100%;
    height: 100vh;
    background-color: #232946;
    color: #fffffe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Alan Sans", sans-serif;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info__text {
    width: 80%;
    text-align: center;
    padding: 20px;
}

.info__text__title {
    font-size: 3.4rem;
    line-height: 1.4;
    font-weight: 500;
    margin-block: 20px;
}

.info__text__subtitle {
    font-size: 2.4rem;
}

/**** main ****/

.main__content {
    flex-grow: 1;
}

/**** section about *****/

.about {
    background-color: #fffffe;
    color: #232946;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__title {
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
}

.about__title,
.about__avatar,
.about__description {
    margin-bottom: 30px;
}

.about__avatar {
    width: 260px;
    height: 260px;
}

.about__avatar img {
    width: 100%;
    height: 100%;
}

.about__description {
    font-size: 1.2rem;
    line-height: 1.8;
}

.btn {
    text-align: center;
    padding: 12px 16px;
    background-color: #eebbc3;
    color: #232946;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #b8c1ec;
}

/**** section skills ****/

.skills {
    background-color: #d4d8f0;
    color: #232946;
}

.skills__title {
    font-size: 2rem;
    text-transform: capitalize;
}

.skills__title,
.skills__subtitle,
.skills__presentation {
    text-align: center;
    margin-bottom: 20px;
}

.skills__subtitle {
    font-size: 1.2rem;
    margin-bottom: 60px;
}

.skills__presentation {
    font-size: 1.7rem;
    margin-bottom: 60px;
}

.skills__front-end__container,
.skills__back-end__container,
.skills__tools__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-block: 40px;
}

.skills__front-end__image,
.skills__back-end__image,
.skills__tools__image {
    width: 70px;
    height: 70px;
    transition: display 0.3s ease-in-out;
    margin-bottom: 20px;
}

.skills__front-end__image img,
.skills__back-end__image img,
.skills__tools__image img {
    width: 100%;
    height: 100%;
}

.skills__front-end__image h4,
.skills__back-end__image h4,
.skills__tools__image h4 {
    text-align: center;
    color: #232946;
    margin-top: 6px;
    font-size: 1rem;
    display: none;
}

.skills__front-end__image:hover h4,
.skills__back-end__image:hover h4,
.skills__tools__image:hover h4 {
    display: block;
}

.separator {
    width: 75%;
    border: 1px solid #fffffe;
    margin: 60px auto;
}

/**** section services ****/

.services {
    background-color: #fffffe;
    color: #232946;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__title {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.services__title,
.services__subtitle {
    text-align: center;
}

.services__subtitle {
    font-size: 1.2rem;
    margin-bottom: 60px;
}

.services__carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.services__carousel__card {
    display: none;
    text-align: center;
    padding: 16px;
}

.services__carousel__card {
    width: 100%;
}

.services__carousel__card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.services__carousel__card.active {
    display: block;
    animation: fade 1s ease-out;
}

/**** animation fade  ****/

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.services__carousel__card__text {
    text-align: center;
    font-size: 1.2rem;
    margin-block: 20px;
}

.carousel__indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #232946;
    font-weight: 600;
}

/**** section projects *****/

.projects {
    background-color: #b8c1ec;
    color: #232946;
}

.projects__title {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.projects__title,
.projects__subtitle {
    text-align: center;
}

.projects__subtitle {
    font-size: 1.2rem;
    margin-bottom: 60px;
}

/**** section hobbies ****/

.hobbies {
    background-color: #fffffe;
    color: #232946;
}

.hobbies__title {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.hobbies__title,
.hobbies__subtitle {
    text-align: center;
}

.hobbies__subtitle {
    font-size: 1.2rem;
    margin-bottom: 60px;
}

.hobbies__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hobbies__card {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.hobbies__card__image {
    width: 100%;
    height: 200px;
}

.hobbies__card__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    animation: rotationImage 3.5s infinite linear;
}

/**** Animation rotationImage ****/

@keyframes rotationImage {
    to {
        transform: rotateY(360deg);
    }

}

.hobbies__card__title {
    text-align: center;
    margin-top: 10px;
}